h3 {
    text-align: left;
    text-transform: uppercase;
    color: #4CAF50;
}
        h4 {
    text-align: left;
    text-transform: uppercase;
    color: #4CAF50;
}   
         h6 {
    text-align: left;
    text-transform: uppercase;
    color: #4CAF50;
}   
        dt {
            color:cadetblue
        }
        p1 {
            text-align: left;
    text-transform: uppercase;
            color: #4CAF50;
            
        }